<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDQ_9tuEb7tHieBMvU4lln0q9Or72Kn228</string>
	<key>GCM_SENDER_ID</key>
	<string>1080108841628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.turing.app</string>
	<key>PROJECT_ID</key>
	<string>message-app-d2458</string>
	<key>STORAGE_BUCKET</key>
	<string>message-app-d2458.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1080108841628:ios:8d806bb7a7215ab9498b59</string>
</dict>
</plist>